[phases.setup]
nixPkgs = ["nodejs_18", "npm-9_x"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = [
  "rm -rf .next",
  "npm run build"
]

[start]
cmd = "npm run start"

[variables]
NODE_ENV = "production"
NPM_CONFIG_PRODUCTION = "false"

